.modal {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {

    background-image: url('config.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(90%);


    background-color: white;
    padding: 30px;
    border-radius: 5px;
    width: 60%;
    height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.columns-container {




    display: grid;

    grid-template-columns: 1fr;

    grid-template-rows: 1fr 0.9fr 0.6fr 10fr 1fr;
    gap: 2%;

    height: 100%;

    width: 100%;

    margin: 0px;
    padding: 0px;
    overflow: hidden;


}

.columns-container> :nth-child(4) {

    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 10px 5px rgba(208, 55, 206, 0.3);
}

.columns-container> :nth-child(4):hover {

    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 10px 5px rgba(208, 55, 206, 0.8);
}

.modal-row1 {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 8.5fr 1.5fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.info-name {
    display: grid;
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 7fr;
    justify-content: center;
    align-self: center;
}

.table-label {

    display: flex;
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(216, 160, 244);
    font-style: oblique;

}

.lyteInputBox input {


    color: rgb(0, 0, 0);
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-size: 1.17rem;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.3);


}

input {
    color: rgb(0, 0, 0);
    font-family: "Kanit", serif;
    font-size: 1.17rem;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.3);




}

.lyteInputBox:hover input:hover,
.lyteInputBox input:focus {


    color: rgb(0, 0, 0);
    font-family: "Kanit", serif;
    font-size: 1.17rem;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.75);


}





.tableNaam {

    width: 70%;
    height: 100%;
}

.info-exit {

    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
}



.modal-row2 {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.primary-key {

    display: grid;
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 0.5fr;
    justify-content: center;
    align-items: center;

}

.pk-label {

    display: flex;
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(216, 160, 244);
    font-style: oblique;

}

.pk-column {

    display: flex;
    height: 90%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;


}

.checkbox-label {

    display: flex;
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(216, 160, 244);
    font-style: oblique;

}


.checkbox {

    display: grid;
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    grid-template-rows: 1fr;
    gap: 2%;
    grid-template-columns: 0.3fr 2fr 2fr;
    justify-content: center;
    align-items: center;

}

.headers {

    display: flex;
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    align-items: center;
    justify-content: start;


}




.modal-row3 {
    display: grid;
    grid-row: 3/4;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.index,
.column-name,
.datatype,
.parameters {

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(141, 206, 236);
    font-style: oblique;
}




.modal-row4 {

    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: 1fr;
    grid-row: 4/5;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.rowX {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.index2 {


    grid-row: 1/2;
    grid-column: 1/2;

    font-size: 1.25rem;
    font-weight: bolder;
    color: rgb(127, 221, 237);
    font-style: oblique;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

}


.column-name2 {

    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

}




.data-type2 {

    grid-row: 1/2;
    grid-column: 3/4;

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.datatype2 {


    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}


[class^="format-String_"] {

    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/2;
    /* grid-column: 4/5; */

}

[class^="numeric-length_"] {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 4/5;
    gap: 3%;


}


[class^="length_a_"] {

    width: 40%
}

[class^="length_b_"] {

    width: 40%
}

.modal-row5 {
    display: flex;
    grid-column: 1/2;
    grid-row: 5/6;
    overflow: hidden;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;

}


.exit-button {

    display: flex;
    justify-self: center;
    font-family: "Arimo", serif;
    background-color: #a83114;
    font-weight: bold;
    border-radius: 100px;
    font-size: 20px;
    color: white;
    border: none;




}

.lyteNumberUpArrow,
.lyteNumberDownArrow {

    width: 15px;
}

.lyteNumberArrowContainer {
    background: rgba(255, 255, 255, 0.555);
}

.exit-button:hover {

    display: flex;
    justify-self: center;
    font-family: "Arimo", serif;
    background-color: #ef5858;

    border-radius: 100px;
    font-size: 26px;
    font-weight: bolder;
    color: rgb(8, 6, 6);
    border: none;




}


.submit-button2 {


    display: flex;
    justify-self: center;
    font-family: "Arimo", serif;
    background-color: #afb509;
    padding: 10px 25px;
    border-radius: 100px;
    font-size: 18px;
    color: white;
    border: none;





}

.submit-button2:hover {

    font-weight: 1000;
    font-family: "Arimo", serif;
    color: rgb(74, 69, 69);
    padding: 13px 28px;
    border-radius: 100px;
    background-color: #f3fa76;
    border: none;
    box-shadow: -5px 5px 10px rgb(0, 0, 0);

}

/*.info-name {

    grid-column: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;

}

.info-exit {
    grid-column: 2;
    display: flex;
    width: 100%;
    height: 100%;
    align-self: start;
    justify-self: right;


}



.checkbox1 {
    grid-column: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;


}

.checkbox2 {

    grid-column: 2;
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;

}




.modal-row3 {
    display: flex;
    align-self: center;
    justify-self: center;
    grid-row: 3;
}

.modal-row4 {
    display: grid;
    overflow-y: auto;
    overflow-x: auto;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row: 4;
}

.rowX {

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 40% 10% 10%;
    width: 100%;
    height: 100%
}

.column-name {



    grid-column: 1/2;
    width: 100%;


}

.data-type {

    grid-column: 2;


}

.length-i {

    grid-column: 3;


}

.length-ii {

    grid-column: 4;


} */