 .form-container {

     background-image: url('file-upload.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;



     overflow: hidden;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     height: 100vh;
     width: 100vw;
     justify-content: center;
     align-items: center;
 }

 .user-tables {

     display: grid;
     grid-column: 1/2;
     grid-template-columns: 1fr 2fr 1fr;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%
 }

 .user-dropdown {

     height: 100%;
     width: 100%;
     display: grid;
     grid-template-rows: 4.5fr 1fr 3fr;
     justify-self: center;
     align-items: center;
     grid-column: 2/3;

 }



 .usertables {


     display: flex;
     grid-row: 2/3;
     justify-self: center;
     align-self: center;

 }





 .logout {
     display: flex;
     grid-column: 3/-1;
     height: 100%;
     width: 100%;
     justify-content: end;
     align-items: start;
     margin-top: 10px;
     margin-right: 10px;



 }


 .file-upload {
     display: grid;
     grid-column: 2/3;
     grid-template-rows: 2fr 4fr;
     grid-template-columns: 1fr;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
 }

 .file-input {
     display: grid;
     grid-row: 2/-1;
     width: 100%;
     height: 100%;
     grid-template-rows: 1fr 2fr 1fr;
     grid-template-columns: 1fr;
     align-items: center;
     justify-items: center;

 }

 .file-input>*:nth-child(1):hover {
     background-color: rgba(255, 255, 255, 0.15);
     width: 100%;
     height: 100%;
     align-items: center;
     justify-content: center;
     /* Apply style to the first row */
 }

 .filedata {


     display: flex;


 }

 .filedata:hover {


     display: flex;
     box-shadow: 0 0 10px 5px rgba(42, 130, 196, 0.689);


 }



 .logout-button {

     font-family: "Arimo", serif;
     background-color: #c92614;
     padding: 10px 30px;
     border-radius: 100px;
     font-size: 18px;
     color: white;
     border: none
 }



 .logout-button:hover {

     font-weight: 1000;
     font-family: "Arimo", serif;
     color: rgb(74, 69, 69);
     padding: 13px 33px;
     border-radius: 100px;
     background-color: #ff4e4e;
     border: none;
     box-shadow: 5px 5px 10px rgb(0, 0, 0);

 }

 lyte-drop-button {
     background: rgba(255, 255, 255, 0.15);
     color: black;
 }

 .lyteDropPlaceholderNormal {


     padding: 5px 20px;
     font-size: 20px;
     font-style: oblique;
     color: rgba(140, 242, 255, 0.775);

 }

 .lyteDropButtonDown {

     background-color: rgba(255, 255, 255, 0.15);
 }

 .lyteFileUpdMsgWrap,
 .lyteFileUpdListFile,
 .lyteFileError {
     width: 100%;
     height: 100%;
     background-color: rgba(255, 255, 255, 0.15);

 }

 .lyteFileUpdMsg {

     font-size: 20px;
     color: rgba(140, 242, 255, 0.775);
     font-style: oblique;
 }

 lyte-drop-body {
     background-color: rgb(48, 219, 241);


 }

 .user-dropdown>*:nth-child(1):hover {
     background-color: rgba(255, 255, 255, 0.15);
     width: 100%;
     height: 100%;
     align-items: center;
     justify-content: center;
     box-shadow: 0 0 10px 5px rgba(42, 130, 196, 0.689);
     /* Apply style to the first row */
 }


 [id^="Lyte_Drop_Item_"] {
     background-color: rgba(0, 0, 0, 0);
     font-style: oblique;
     color: black
 }

 [id^="Lyte_Drop_Item_"]:hover {
     background-color: rgba(16, 76, 180, 0.811);
     color: white;

 }

 lyte-drop-button {
     width: 100%;
     height: 100%;
 }


 .tooltip {
     position: absolute;
     display: inline-block;
     cursor: pointer;
     padding: 10px 20px;
     font-size: 16px;
     border: none;
     background-color: #007bff;
     color: white;
     border-radius: 5px;
 }


 .tooltip .tooltip-text {
     visibility: hidden;
     width: auto;
     max-width: 200px;
     background-color: black;
     color: white;
     text-align: center;
     border-radius: 5px;
     padding: 8px;
     position: absolute;
     z-index: 1;
     bottom: 125%;
     left: 50%;
     transform: translateX(-50%);
     opacity: 0;
     border: 2px solid white;
     transition: opacity 0.1s;
 }


 .tooltip:hover .tooltip-text {
     visibility: visible;
     opacity: 1;
 }