<template class="columns-container" tag-name='columns-comp'>


    <div class="modal-row1">
        <div class="info-name">

            <span class="table-label">Table name : </span>

            <lyte-input class="tableNaam" lt-prop-value='{{tableInfo.tableName}}' lt-prop-appearance='box'
                lt-prop-direction='horizontal' lt-prop-placeholder="your table name ">
            </lyte-input>


        </div>


        <div class="info-exit">
            <lyte-button class="exit" lt-prop-class="exit-button" onclick="{{action('exitConfig')}}">
                <template is="registerYield" yield-name="text">
                    &#10005;
                </template>
            </lyte-button>
        </div>


    </div>



    <div class="modal-row2">



        <div class="primary-key">

            <span class="pk-label">Primary key column index : </span>

            <lyte-number class="pk-column" lt-prop-max="{{tableInfo.columnCount}}" lt-prop-controls="true">
            </lyte-number>


        </div>

        <div class="checkbox">

            <span class="checkbox-label">File includes headers</span>

            <lyte-checkbox class="headers" lt-prop-name='isFirstLineRecord'
                lt-prop-checked="{{!tableInfo.firstLineRecord}}" lt-prop-value='val'
                onchange="{{action('headersChange')}}"> </lyte-checkbox>


        </div>


    </div>

    <div class="modal-row3">



        <span class="index">Index</span>
        <span class="column-name">Column Names</span>
        <span class="datatype">Datatypes</span>
        <span class="parameters"> Parameters</span>





    </div>


    <div class="modal-row4">



        <% tableInfo.columnDataTypes.forEach( function(name,index) { %>
            <%console.log(columnNames[index]); %>


                <column-comp class="rowX" idx="{{index+1}}" column-name="{{columnNames[index]}}" data-type="{{name}}"
                    date-format="{{tableInfo.dateFormats[index]}}" length1="{{getNumber(tableInfo.length1[index])}}"
                    length2="{{getNumber(tableInfo.length2[index])}}"></column-comp>
                <br>
                <% i++ ; %>
                    <% }) ; %>



    </div>



    <div class="modal-row5">


        <lyte-button lt-prop-type="submit" class="submit-button" lt-prop-class="submit-button2"
            onclick="{{action('sendData')}}">
            <template is="registerYield" yield-name="text">
                Create table
            </template>
        </lyte-button>


    </div>




</template>