<template class="main2-container" tag-name="register-comp">




    <div class="register-container">

        <div class="input2">

            <lyte-input lt-prop-id="new-username" class="new-username" lt-prop-direction='horizontal'
                lt-prop-appearance='box' lt-prop-placeholder="your username" onkeydown="{{action('register',event)}}">
            </lyte-input>
        </div>

        <div class="input2">

            <lyte-input lt-prop-id="new-password" class="new-password" lt-prop-type='password'
                lt-prop-password-icon=true lt-prop-direction='horizontal' lt-prop-appearance='box'
                lt-prop-placeholder="your password" onkeydown="{{action('register',event)}}">
            </lyte-input>
        </div>

        <div class="button2">
            <lyte-button lt-prop-class="register-button2" lt-prop-id="unique" onclick="{{action('register',event)}}">
                <template is="registerYield" yield-name="text">
                    Register
                </template>
            </lyte-button>
        </div>

    </div>

</template>